<html>
<head>
        <title>Blog Tycoon|<%= title %></title>
</head>
<body>
    <%- include('./partials/nav.ejs')  %>
    <%- include('./partials/head.ejs')  %>
    <%- include('./partials/footer.ejs')  %>
    </body>
    <div id="not-found content">
        <b>Oops page not found ):(</b>
    </div>
</body>
</html>
