<html>
<head>
        <title>Blog Tycoon|<%= title %></title>
</head>
<body>
    <%- include('./partials/nav.ejs')  %>
    <%- include('./partials/head.ejs')  %>
    <%- include('./partials/footer.ejs')  %>
    </body>
    <div id="about content">
        <h2>About us</h2>
        <p>Hey gang, you are now citizens of MC-JTown or Joshua aka Incognito the programmer. So I'm turning 14 in Jan<br>
        and I really love web dev, I am currently doing full stack, Ive just finished <br>
    up with Express js, and I there is no feeling to describe how much I love full <br>
    stack development. Throughout 2021, I will not go ahead to learn anything else, but I <br>
    am planning on just advancing with Express js, Node js and possibly React js as a substitute<br>
    for Html, JavaScript and Css. This is just the beginning, you have no idea of what is in store.<br>
     Heads up, this is my first full stack application</p>
    </div>
</body>
</html>
